.dashboard-container{
    display:flex;
    flex-direction:column;
    gap:1rem;
    padding:1rem;
}
.dashboard-container > div:nth-child(1){
    font-size:x-large;
    text-align:right;
}
.dashboard-container > div:nth-child(2){
    background-color: lightgrey;
    padding:0.5rem;
    color:black;
    display:flex;
    flex-direction:column;
    gap:0.25rem;
    height:10rem;
    font-size:x-large;
}
.dashboard-container > div:nth-child(2) > hr{
    color:white;
}
.dashboard-container > div:nth-child(3){
    padding:0.5rem;
    display:flex;
    justify-content:space-evenly;
    gap:1rem;
}
.dashboard-container > div:nth-child(3) > div{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:15%;
    height: 10rem;
    background-color:goldenrod;
    font-size: xx-large;
    color:white;
}
